---
---

//
// IMPORTS
//

@import "reset";
@import "variables";
// Syntax highlighting @import is at the bottom of this file

/**************/
/* BASE RULES */
/**************/

body.blog .cat-nav {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
}

.cat-nav ul {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: center;
  padding-left: 0;
}




li {
  margin: 0 6px 12px;
}

.cat-nav ul li a {
  font-size: 12px;
  color: #fff;
  font-weight: 700;
  background-color: #000;
  padding: 0.5rem 2rem;
}




.is-active {
  color: #DDD3A5 !important;
}

.lightbox {
  display: none;
  position: fixed;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.box {
  position: absolute;
  padding: 10px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  color: black;
}

h2, .box p {
margin: 0 20px;
}

.close {
  position: absolute;
  left: 100%;
  top: 0;
  margin: -10px 0 0 -10px;
  width: 20px;
  height: 20px;
  color: #fff;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  background-color: #5c5c5c;
  cursor: pointer;
  text-decoration: none;
}


.revue-header {
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 2px;
  padding-top: 0.5em;
  padding-bottom: 1em;
}

.revue-description {
  font-size: 15px;
  letter-spacing: 1px;
  line-height: 1.3em;
  margin: -2px 0 45px;
}

.revue-input {
  display: flex;
  align-items: center;
  padding-bottom: 2em;
}



#member_email {
  width: 100%;
  background: #FDFCFB;
  padding:8px;
  letter-spacing: 1px;
  border-radius: 5px 0 0 5px;
}

#member_submit {
  font-size: 14px;
  padding:6px;
  margin:0;
  width: 100%;
  background: #000;
  font-family: inherit;
  font-weight: bold;
  color: white;
  letter-spacing: 1px;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background .3s ease-in-out;
}

#member_submit:hover {
  background: #333;
}

input:focus {
  outline: none;
  outline: 2px solid #3898ec;
  box-shadow: 0 0 2px #3898ec;
}


html {
  font-size: 100%;
  
}

.formkit-powered-by {
  background-color: white!important;
  color: white!important;
  display: none;
}

.post {
  max-width: 540px;
  margin: 0 auto;
}

.noyellowlinks a {
  background-color: #FFF!important;
  text-decoration: underline;
}

.noyellowlinks a:hover {
  background-color: #FFF!important;
  
  
}

// hide emailboxcontent on mobile
@media screen and (max-width: 600px) {
  .emailboxcontent {
    display: none;
  }
  
}

.post a {
  color: #4B4B4B;
  text-decoration: none;
  background-color: #F2E39B;
  padding: 0px 5px;
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.post a:hover {
  color: #353535;
  text-decoration: none;
  background-color: #DDD3A5;
  padding: 1px 5px;
  border-radius: 2px 2px 2px 2px;
  -moz-border-radius: 2px 2px 2px 2px;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

body {
	background: $white;
-moz-osx-font-smoothing: grayscale;
font-family: 'Roboto Mono', 'Courier', 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    color: #4B4B4B;
    font-weight: 400;
    font-size: 15px;
    line-height: 28px;
}

.container {
  margin: 0 auto;
  max-width: 740px;
  padding: 0 10px;
  width: 100%;
  margin-bottom: 50px;
}

h2 {padding-top: 20px; padding-bottom: 3px; margin-bottom: 20px; border-bottom: 1px solid #C8CACA;

  font-family: 'Roboto Mono', 'Courier', 'Helvetica', sans-serif !important;
  -webkit-font-smoothing: antialiased;
 color: #4B4B4B;
 font-weight: bold;
 padding-top: 10px;
 padding-bottom: 10px;
 text-transform: uppercase;}

h1, h2, h3, h4, h5, h6 {
  color: $darkerGray;
  font-weight: bold;

  line-height: 1.7;
  margin: 1em 0 15px;
  padding: 0;

  @include mobile {
    line-height: 1.4;
  }
}

h1 {
  font-size: 20px;
  background-color: white !important;
  a {
    color: inherit;
    background-color: white !important;
  }
}

h2 {
  font-size: 16px;
  margin-top: 32px !important;
}

h3 {
  font-size: 20px;
}

h4 {
  font-size: 18px;
  color: $gray;
}

p {
  margin: 15px 0;
}

li {margin-bottom: 20px;}

a {
  color: $blue;
  text-decoration: none;
	cursor: pointer;
  &:hover, &:active {
    color: $blue;
  }
}

ul, ol {
  margin: 15px 0;
  padding-left: 30px;
}

ul {
  list-style-type: disc;
}

ol {
  list-style-type: decimal;
}

ol ul, ul ol, ul ul, ol ol {
  margin: 0;
}

ul ul, ol ul {
  list-style-type: circle;
}

em, i {
  font-style: italic;
}

strong, b {
  font-weight: bold;
}

img {
  max-width: 100%;
  margin-top: 20px;
  margin-bottom:20px;
}

// Fixes images in popup boxes from Google Translate
.gmnoprint img {
  max-width: none;
}

.date {
  font-style: italic;
  color: $gray;
  display: none;
}

// Specify the color of the selection
::-moz-selection {
  color: $black;
  background: $lightGray;
}
::selection {
  color: $black;
  background: $lightGray;
}

// Nicolas Gallagher's micro clearfix hack
// http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

//
// .masthead
//

.wrapper-masthead {
  margin-bottom: 50px;
}

.masthead {
  border-bottom: 1px solid $lightGray;
  padding-bottom: 10px;
  padding-top: 10px;
  @include mobile {
    text-align: center;
  }
}

.masthead h1 {
  margin: 0px;
  margin-top:4px;
}

.site-avatar {
  display: none;
  float: left;
  width: 70px;
  height: 70px;
  margin-right: 15px;

  @include mobile {
    float: none;
    display: none;
    margin: 0 auto;
  }

  img {
    border-radius: 5px;
  }
}

.site-info {
  float: left;

  @include mobile {
    float: none;
    display: block;
    margin: 0 auto;
  }
}

.site-name {
  color: #111;
  cursor: pointer;
  font-weight: normal;
  font-size: 14px !important;
  letter-spacing: 1px;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

.site-description {
  display:none;
  margin: -5px 0 0 0;
  color: $gray;
  font-size: 16px;

  @include mobile {
    margin: 3px 0;
  }
}

nav {
  float: right;
  margin-top: 4px; // @TODO: Vertically middle align
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;

  @include mobile {
    float: none;
    margin-top: 9px;
    display: block;
    font-size: 16px;
  }

  a {
    margin-left: 20px;
    color: $darkGray;
    text-align: right;
    font-weight: 300;
    letter-spacing: 1px;
    font-size: 14px;

    @include mobile {
      margin: 0 10px;
      color: $blue;
    }
  }
}

//
// .main
//

.posts > .post {
  padding-bottom: 2em;
  border-bottom: 1px solid $lightGray;
}

.posts > .post:last-child {
  padding-bottom: 1em;
  border-bottom: none;
}

.post {
  blockquote {
    margin: 1.8em .8em;
    border-left: 2px solid $gray;
    padding: 0.1em 1em;
    color: $gray;
    font-size: 22px;
    font-style: italic;
  }

  .comments {
    margin-top: 10px;
  }

  .read-more {
    text-transform: uppercase;
    font-size: 14px;
    background-color: white !important;
    text-decoration: underline;
  }
}

.wrapper-footer {
  display: none;
  margin-top: 50px;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  background-color: $lightGray;
}

footer {
  padding: 20px 0;
  text-align: center;
}

.entry {
  padding-left: 4px;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-gap: 20px;
}

.grid-item {
    display: inline-block;
    -webkit-transition: -webkit-box-shadow .25s;
    transition: -webkit-box-shadow .25s;
    transition: box-shadow .25s;
    transition: box-shadow .25s, -webkit-box-shadow .25s;
    padding: 24px;
    margin: .5rem 0 1rem 0;
    border-radius: 2px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
    
}

.grid-container a {
    color: #444 !important;   
}

.centered  {
  text-align: center;
}

.rightaligned {
  text-align: right;
  float: right;
  width: 250px;
}

small {font-size: 16px;}




@media only screen and (min-width: 600px) {
    .heroimage { 
        float:right;  
    }
}


blockquote {
    border-width: 4px;
    border-color: #00f;
    color: #004;
    font-family: $nanum;
    padding: 16px 32px;
    font-size: 32px;
    margin-left: -32px;
    margin-top: 32px;
    margin-bottom: 64px;
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
}

.footnote {
  
  vertical-align: super;
  font-size: smaller;

}

// Settled on moving the import of syntax highlighting to the bottom of the CSS
// ... Otherwise it really bloats up the top of the CSS file and makes it difficult to find the start
@import "highlights";
@import "svg-icons";



table {
  border: 1px solid #ccc;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: .5em 0 .75em;
}

table tr {
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  padding: .35em;
}

table th,
table td {
  padding: .625em;
  text-align: center;
}

table th {
  font-size: .85em;
  letter-spacing: .1em;
  text-transform: uppercase;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }

  table caption {
    font-size: 1.3em;
  }
  
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  
  table tr {
    border-bottom: 3px solid #ddd;
    display: block;
    margin-bottom: .625em;
  }
  
  table td {
    border-bottom: 1px solid #ddd;
    display: block;
    font-size: .8em;
    text-align: right;
  }
  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  
  table td:last-child {
    border-bottom: 0;
  }
}

.button {
	display: inline-block;
  margin: 0;
  padding: 0.75rem 1rem;
	border: 0;
	border-radius: 0.317rem;
	background-color: rgb(0, 0, 0);
	color: #fff;
	text-decoration: none;
	font-weight: 700;
	font-size: 1rem;
  line-height: 1.5;
	cursor: pointer;
	-webkit-appearance: none;
	-webkit-font-smoothing: antialiased;
}

.button:hover {
	opacity: 0.85;
}

.button:active {
	box-shadow: inset 0 3px 4px hsla(0, 0%, 0%, 0.2);
}

.button:focus {
	outline: thin dotted #444;
	outline: 5px auto -webkit-focus-ring-color;
	outline-offset: -2px;
}

.button_primary {
	background-color: #1fa3ec;
}

.button_secondary {
	background-color: #e98724;
}

.button-icon {
	display: inline-block;
  position: relative;
  top: -0.1em;
  vertical-align: middle;
	margin-right: 0.317rem;
}

.emailbox {
  width: 94% !important;
  background: linear-gradient(#f9f7f5, #f5f3f1) !important;
  border: 1px solid #d5d3d1;
  margin: 5% 1%;
  padding: 2%;
  text-align: center;
  box-shadow: 0px 0px 5px #D5D3D1;
  border-radius: 3px;
  overflow: hidden;
  clear: both;
}

.emailboxcontent {
  width: 35%;
  float: left;
  padding: 2%;
}



.emailboxcontent h2 {
  text-align: center !important;
}

.emailboxcontent p {
  text-align: left !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  font-size: 13px !important;
}

.emailboxform {
  width: 60%;
  float: left;
  padding: 2% 2% 2% 3%;
  border-left: 1px solid #e5e3e1;
}

.emailboxstyle {
  margin: 0;
  text-align: left;
}

.emailboxstyle h3 {
  font-size: 14px !important;
  font-weight: bold !important;
  text-align: left !important;
  margin-top:18px;
}

.emailboxstyle p {
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  font-size: 13px !important;
  color: #858381 !important;
}

.emailboxfield {
  width: 99%;
  color: #535251 !important;
  font-size: 16px !important;
  margin: 5px !important;
  padding: 15px !important;
}

.emailboxbutton {
  width: 99%;
  background: linear-gradient(#78afdd, #3877bf) !important;
  font-family: "Open Sans", Helvetica, Arial, sans-serif;
  border: 1px solid #2f65a1 !important;
  color: #ffffff !important;
  text-align: center;
  font-size: 18px !important;
  font-weight: bold !important;
  text-shadow: -1px -1px 0px #466e93 !important;
  margin: 5px 0px 25px 5px !important;
  padding: 8px !important;
}

.emailboxbutton:hover {
  background: #3877bf !important;
}

.featuredabove {
  height: 1.0em;
  margin-bottom: 20px;
  border-bottom: 2px solid #e9e7e5;
  text-align: center;
}

.featuredbelow {
  border-top: 2px solid #e9e7e5;
  margin-bottom: 25px;
}

.featuredtitle {
  background: #ffffff;
  font-size: 14px;
  font-family: "Open Sans", Helvetica, Arial, sans-serif !important;
  color: #555555;
  text-transform: uppercase;
  padding: 0px .5em;
  position: relative;
  top: 0.4em;
}