<!-- <div id="revue-embed">
    <form action="https://www.getrevue.co/profile/greenfeld/add_subscriber" method="post" id="revue-form" name="revue-form"  target="_blank">
        <div style="float: right" class="revue-form-actions">
            <input type="submit" value="Subscribe" name="member[subscribe]" id="member_submit">
          </div>
        <div style="overflow: hidden;" class="revue-form-group">
        <input class="revue-form-field" placeholder="Your email address..." type="email" name="member[email]" id="member_email">
        </div>
    
    <div style="font-size: 9px;" class="revue-form-footer">(By subscribing, you agree with Revue’s <a target="_blank" style="background-color: white;" href="https://www.getrevue.co/terms">Terms of Service</a> and <a style="background-color: white;" target="_blank" href="https://www.getrevue.co/privacy">Privacy Policy</a>.)</div>
    </form>
  </div> -->

  <p>I'm on quest to unlock the secrets of highly successful founders.</p>

  <ul>
      <li>I'm studying how the smartest founders succeed and write about the patterns I uncover over at <a href="https://founderflywheel.com">Founder Flywheel</a>.</li>
      <li>I'm sharing my own progress and earned insights in my <a href="https://www.getrevue.co/profile/greenfeld">personal newsletter</a>.</li>
      <li>I'm building in public on <a href="https://twitter.com/intent/follow?screen_name=jakobgreenfeld&original_referer=https://jakobgreenfeld.com">Twitter</a>.</li>
  </ul>