---
layout: default
---

<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>


  P.S. I'm currently writing a <a href="/0-to-01">book on humble entrepreneurship</a>. And I'm now on <a href="https://twitter.com/jakobgreenfeld">Twitter</a> too if you'd like to follow my adventures. Alternatively you can enter your email address below and I will send you occasionally a short email whenever I publish something new.

  {% include convertkit.html %}

  {% include disqus.html %}
</article>
