---
layout: default
---


<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

<div style="margin-top: 48px;">
  <!-- <p>P.S.  I'm now on <a href="https://twitter.com/jakobgreenfeld">Twitter</a> too if you'd like to follow my adventures. </p>
  <p>Finally, if you're a curious intelligent person, you should definitely join the 5000+ other people on my newsletter. It’s one email a week with everything interesting I’ve learned, read or found.</p>

  {% include revue.html %}

  {% include disqus.html %} -->

  <p>PS: I'm on quest to unlock the secrets of highly successful founders.</p>

<ul>
    <li>I'm studying how the smartest founders succeed and write about the patterns I uncover over at <a href="https://founderflywheel.com">Founder Flywheel</a>.</li>
    <li>I'm sharing my own progress and earned insights in my <a href="https://www.getrevue.co/profile/greenfeld">personal newsletter</a>.</li>
    <li>I'm building in public on <a href="https://twitter.com/intent/follow?screen_name=jakobgreenfeld&original_referer=https://jakobgreenfeld.com">Twitter</a>.</li>
</ul>

</div>
</article>
