---
layout: default
---


<article class="post">
  <h1>{{ page.title }}</h1>

  <div class="entry">
    {{ content }}
  </div>

  <div class="date">
    Written on {{ page.date | date: "%B %e, %Y" }}
  </div>

<div style="margin-top: 48px;padding-top: 20px; padding-bottom: 3px; margin-bottom: 20px; border-top: 1px solid #C8CACA">
  <!-- <p><strong>
    PS: If you're a founder looking for some help in acquiring 
    new customers/clients or a newsletter writer looking to fill ad spots, <a href="https://www.damngoodleads.com?ref=jakobgreenfeld.com">I'd love to help!</a>
  </strong>
</p> -->

  <p>
     PS: If you're interested in following my journey, sign up below:

  </p>



<div style="margin: 0 auto;text-align:center;">
  <iframe src="https://playpermissionless.substack.com/embed" width="480" height="320"
    style="border:1px solid #EEE; background:white;" frameborder="0" scrolling="no"></iframe>
</div>



</div>
</article>
